@font-face {
    font-family: 'Constantia';
    src: url('fonts/Constantia.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
* {
    font-family: Constantia, sans-serif;
}

.d-flex {
    display: flex;
}
.justify-content-between {
    justify-content: space-between;
}
.bigFont {
    font-size: 1.3em;
    font-weight: bold;
}
a {
    text-decoration: none;
    color: black;
}
.card {
    border: 1px solid black;
    padding: 20px;
    margin: 20px;
}
.btn {
    display: inline-block;
    text-decoration: none;
    border: 1px solid black;
    padding: 20px 10px;
    margin: 20px;
    background-color: #BFD6F6;
}
.alert {
    margin: 20px;
    padding: 20px;
    color: white;
}
.alert-success, .alert-danger {
    background-color: #405C73;
}
